body
{
    background-color: rgb(26, 26, 26);
    color: #fff;
}

#main{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

table{
    margin: 10px;
}
table tc,th{
    padding: 10px;
}

.v{
    color:green
}

.f{
    color: red;
}

input {
    width: 400px;
    font-size: 20px;
    font-family: monospace;
}

.tips{
    display: flex;
    justify-content: space-around;
    align-items:center;
}